<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<p>Mocked list of products</p>
<table>
    <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Available</th>
    </thead>
    <tbody>
    <tr th:each="prod : ${prods}">
        <td th:text="${prod.name}">Noname</td>
        <td th:text="${prod.price}">0</td>
        <td th:text="${prod.inStock}? #{true}:#{false}">unknown</td>
    </tr>
    </tbody>
</table>
<hr/>
<a href="main" th:href="@{/main}">Home</a>
</body>
</html>
</html>