.table tbody>tr>td.vert-align{
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}
.table tbody>tr>td.left-align {
    padding: 10px;
}
.table tbody>tr>td.center-align {
    text-align: center;
}

.table thead>th.center-align {
    text-align: center;
}